@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}

.input-box {
    @apply p-2 w-full text-xl bg-white border-2 border-d-blue focus:ring-1 ring-d-blue my-2 rounded
}

.p-btn {
    @apply bg-l-blue text-black p-2 text-xl rounded-lg min-w-[100px] hover:bg-d-blue hover:text-white transition delay-100
}

.s-btn {
    @apply text-black p-2 text-xl rounded-lg min-w-[100px] hover:bg-red-500 transition delay-100
}